{% extends 'base.html' %}

{% block content %}
<h2>Bill: {{ bill.bill_no }}</h2>
<p><strong>Date: </strong>{{ bill.created_at }}</p>

<table border="1" cellpadding="5" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.subtotal }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Total: ₹{{ bill.total_amount }}</h3>
<button onclick="window.print()">Print</button>


{% endblock %}