# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
.Python

# Django migrations
*/migrations/
!*/migrations/__init__.py

# Environment
env/
venv/
ENV/
.venv/
.env
.env.*

# VSCode / PyCharm
.vscode/
.idea/

# macOS and Linux
.DS_Store
Thumbs.db

# Static files
staticfiles/
media/
