{% extends 'base.html' %}

{% block title %}Stock Transaction History{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Stock Transaction History</h2>

    <form method="get">
        <label for="">Filter by Category:</label>
        <select name="category" id="">
            <option value="">All</option>
            {% for cat in categories %}
            <option value="{{ cat.id }}" {% if request.GET.category == cat.id|stringformat:"s" %}selected{% endif %}>
                {{ cat.name }}
            </option>
            {% endfor %}
        </select>



    <label>Filter by Product:</label>
    <select name="product">
        <option value="">All</option>
        {% for prod in products %}
            <option value="{{ prod.id }}" {% if request.GET.product == prod.id|stringformat:"s" %}selected{% endif %}>
                {{ prod.name }}
            </option>
        {% endfor %}
    </select>

    <label>From Date:</label>
    <input type="date" name="start_date" value="{{ request.GET.start_date }}">

    <label>To Date:</label>
    <input type="date" name="end_date" value="{{ request.GET.end_date }}">

    <button type="submit">Filter</button>
</form>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Product</th>
                <th>Transaction Type</th>
                <th>Quantity</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            {% for tx in transactions %}
            <tr>
                <td>{{ tx.timestamp|date:"d-m-Y H:i" }}</td>
                <td>{{ tx.product.name }}</td>
                <td>{{ tx.get_transaction_types_display }}</td>
                <td>{{ tx.quantity }}</td>
                <td>{{ tx.remarks }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">No transactions found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<div style="padding: 10px; border: 1px solid #ccc; margin-bottom: 15px;">
    <strong>Summary:</strong><br>
    Total Stock Added: <strong>{{ total_in }}</strong><br>
    Total Stock Removed: <strong>{{ total_out }}</strong>
</div>
</div>
{% endblock %}
